
.nutrition-label {
	color: black;
	width: 100%;
}

.footer-container {
  margin: 5px;
}

.btn-add-food {
  margin: 2px;
}

.image {
  width: 250px;
  float: left;
  margin: 20px;
}


.image {
  width: 250px;
  float: left;
  margin: 20px;
}

p {
  margin: 0;
}

.contnet {
  height: 100%;
}

.footer {
  text-align: center;
  padding: 2px;
}


.animate {
  transition: transform .35s ease-in-out;
}

.animate.grow {
  transform: scale(1.5);
}

.span-login {
  color: blue;
  text-align: center;
}

